@import "tailwindcss";

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #88E86A;
  --color-primary-100: #7BE558;
  --color-primary-200: #62E039;
  --color-primary-300: #4ED922;
  --color-primary-400: #47C41F;
  --color-primary-500: #43B91D;
  --color-primary-600: #3DAA1B;
  --color-primary-700: #338E16;
  --color-primary-800: #266911;
  --color-primary-900: #173E0A;
  --color-primary-950: #0E2706;

  --color-secondary-50: #323D7B;
  --color-secondary-100: #2D376E;
  --color-secondary-200: #252D5A;
  --color-secondary-300: #1F264C;
  --color-secondary-400: #1B2143;
  --color-secondary-500: #1A2040;
  --color-secondary-600: #191F3E;
  --color-secondary-700: #171C39;
  --color-secondary-800: #131830;
  --color-secondary-900: #0E1123;
  --color-secondary-950: #0B0E1B;
}

@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}