@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #88e86a;
	--color-primary-100: #7be558;
	--color-primary-200: #62e039;
	--color-primary-300: #4ed922;
	--color-primary-400: #47c41f;
	--color-primary-500: #43b91d;
	--color-primary-600: #3daa1b;
	--color-primary-700: #338e16;
	--color-primary-800: #266911;
	--color-primary-900: #173e0a;
	--color-primary-950: #0e2706;

	--color-secondary-50: #323d7b;
	--color-secondary-100: #2d376e;
	--color-secondary-200: #252d5a;
	--color-secondary-300: #1f264c;
	--color-secondary-400: #1b2143;
	--color-secondary-500: #1a2040;
	--color-secondary-600: #191f3e;
	--color-secondary-700: #171c39;
	--color-secondary-800: #131830;
	--color-secondary-900: #0e1123;
	--color-secondary-950: #0b0e1b;
}

@source '../../node_modules/flowbite/dist';

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}
* {
	--tw-ring-color: rgb(0 0 0 / 0) !important;
}

@font-face {
	font-family: 'Sansumu';
	src: url('/fonts/Sansumu02-Regular.ttf');
}

.Sansumu {
	font-family: 'Sansumu';
}

/* MAIN PAGE IMAGE */

.img-clip {
	clip-path: polygon(30% 0, 100% 0, 75% 100%, 30% 100%);
	transform: translateX(-30%);
}

@media (max-width: 40rem) {
	.img-clip {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		transform: translateX(0%);
	}
}
